export HELLO='hello'
export HELM='helm v3 binary name'
export IMAGE_NAME='image_name_in_your_repository'
export RELEASE_NAME='webhook-logger'
export TEST_NAMESPACE='k8s_cluster_name_space_for_test_deployment'
export WEBBOOK_DB_FILE='/tmp/webbook.db'
export WEBBOOK_LOGS_FILE='/tmp/webhook-log.txt'
export GITLAB_SECRET='MyGitLabSuperSecretSecrect...?'
export GITHUB_SECRET='MyGitHubSuperSecretSecrect...?'
